src/test/test-data/BookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    name="BookService_v1.0" 
    targetNamespace="http://dyomedea.com/ns/library/BookService/v1.0"
    xmlns:tns="http://dyomedea.com/ns/library/BookService/v1.0"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://dyomedea.com/ns/library/BookService/v1.0"
            xmlns:book="http://dyomedea.com/ns/library">
            
            <xsd:import namespace="http://dyomedea.com/ns/library" schemaLocation="Book.xsd" />
            
            <xsd:complexType name="BookLookupRequestType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="bookName" nillable="false" type="xsd:string" />
                </xsd:sequence>
                <xsd:attribute fixed="1.0" name="schemaVersion" type="xsd:string" use="required" />
            </xsd:complexType>
            
            <xsd:complexType name="BooksType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="book" nillable="false" type="book:bookType" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="BookLookupResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="books" nillable="true" type="tns:BooksType" />
                </xsd:sequence>
                <xsd:attribute fixed="1.0" name="schemaVersion" type="xsd:string" use="required" />
            </xsd:complexType>
            
            <xsd:element name="lookupBookRequest" type="tns:BookLookupRequestType">
            </xsd:element>
            
            <xsd:element name="lookupBookResponse" type="tns:BookLookupResponseType">
            </xsd:element>
            
        </xsd:schema>
        
    </wsdl:types>
    
    <wsdl:message name="lookupBookRequest">
        <wsdl:part element="tns:lookupBookRequest" name="parameters" />
    </wsdl:message>
    
    <wsdl:message name="lookupBookResponse">
        <wsdl:part element="tns:lookupBookResponse" name="parameters" />
    </wsdl:message>
    
    <wsdl:portType name="BookService_v1.0">
        <wsdl:operation name="lookupBook">
            <wsdl:input message="tns:lookupBookRequest" />
            <wsdl:output message="tns:lookupBookResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="BookService_v1.0_SOAP" type="tns:BookService_v1.0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="lookupBook">
            <soap:operation soapAction="http://dyomedea.com/ns/library/BookService/v1.0/lookupBook" />
            <wsdl:input>
                <soap:body parts="parameters" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="BookService_v1.0">
        <wsdl:port binding="tns:BookService_v1.0_SOAP" name="BookService_v1.0_SOAP">
            <soap:address location="http://www.tempuri.org/service/book/BookService_v1.0" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>